/*****************/
/* Elements only */
/*****************/
* {
  font-family: Gotham, Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-color: grey;
  text-decoration: none;
}

/* a tags */

a {
  color: grey;
}

/*********************/
/* IDs/Classes Below */
/*********************/

/* I N D E X */

#logo {
  font-weight: bold;
  font-size: 2.5em;
  color: lightgreen;
}

#container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*background-image: url('../images/..');*/
  background-color: lightgreen;
  background-size: cover;
}

/* A U T H -- Login/Register */
.auth-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: lightblue;
}
